.main{
    width:100%;
    max-width:600px;
    background:#f0f0f0;
    margin:0 auto;    
	height:95vh;
}

.page_01{

}


.pop_back{
	display:none;
	position:fixed;
	top:-10vh;
	left:-10vw;
	width:120vw;
	height:120vh;
	background:rgba(60,60,60,0.3);
}
.pop_a{
	display		:none;
	position	:absolute;
	top			:0;
	left		:0;
	right		:0;
	bottom		:0;
	margin		:auto;
	border		:3px dashed #fafafa;
	box-shadow	:5px 5px 0px 10px #c09000;
	border-radius:5px;
	width		:250px;
	height		:300px;
	background	:#c09000;
}

.pop_a_1{
	position	:absolute;
	top			:5px;
	left		:0;
	right		:0;
	margn		:auto;
	width		:150px;
	height		:150px;
	background	:#303030;
}

.pop_a_2{
	position	:absolute;
	top			:160px;
	left		:0;
	right		:0;
	margn		:auto;
	width		:150px
	height		:50px;
	line-height	:60px
	color		:#303030;
	background	:#fafafa;
	border-bottom:2px solid #d00000;
	text-align:left;
	padding-left:5px;
}


.btn {
	display			: inline-block;
	position		: relative;
	text-decoration	: none;
	border-radius	: 1vw;
	text-align		: center;
	overflow		: hidden;
	font-size		: 15px;
	font-weight		: 700;
	height			: 30px;
	line-height		: 30px;
	width			:80px;
	border			: 1vw solid #ffffff;
	cursor			: pointer;
	padding:0;
}


.btn:active {
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
	background-image: linear-gradient(#eeeeee 0%, #dddddd 100%);
}

.c1{
	position:absolute;
	bottom:10px;
	right:20px;
	background: linear-gradient(#ff90a0 0%, #ffa0a0 100%);
	text-shadow: 1px 1px 1px rgba(255,255,255, 0.66);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.28);
	color: #d00000;
}

.c2{
	position:absolute;
	bottom:10px;
	left:20px;
	background: linear-gradient(#ddddff 0%, #ccccff 100%);
	text-shadow: 1px 1px 1px rgba(255,255,255, 0.66);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.28);
	color: #3030ff;
}

.c3{
	background: linear-gradient(#ffd090 0%, #ffc060 100%);
	text-shadow: 1px 1px 1px rgba(255,255,255, 0.66);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.28);
	color: #909030;
	width: 12vw;
}

.c4{
	background: linear-gradient(#ffd090 0%, #ffc060 100%);
	text-shadow: 1px 1px 1px rgba(255,255,255, 0.66);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.28);
	color: #909030;
	width: 20vw;
}


.page_02{
	display:none;
}



.hako{ 
    display:inline-block;
    width:55px;
    height:55px;
    line-height:55px;
    background:#f00000;
    box-sizing:border-box;
    border:0.5vw solid #0000ff;
    text-align:center;
    font-size:20px;
}

.table_a{
    width:100%;    
    background:#e0f0ff;
}

.td_a{
    width:120px;    
    background:#a0f0ff;
}

.table_b{
    width:100%;    
    background:#e0f0ff;
}

.td_b1{
    height:30px;    
    background:#00f020;
}

.td_b2{
    background:#00f0ff;
}

.p_name{
    display:inline-block;
    width:200px;
    background:#ff5030;
}

.p_status{
    display:inline-block;
    width:45px;
    background:#ff50a0;
}

.p_pts{
    display:inline-block;
    width:74px;
    height:40px;
    background:#cccccc;
    box-sizing:border-box;
    border:1px solid #ffffff;
	color:#fafafa
}

.p_pts_on{
    background:#906000 !important;
}

.set{
	display:inline-block;
	width:90px;
	height:30px;
	line-height:30px;
	text-align:right;
	background:#ffe0f0;
	margin:5px;
}

.sel{
	position:relative;
	display:inline-block;
	width:290px;
	border:1px solid #303030;
	height:80px;
	background:#ffe0f0;
	margin:2px;
}

.sel_a{
	position:absolute;
	top:2px;
	left:2px;
	height:76px;
	width:76px;
	background:#303030;
}

.sel_b{
	display			:flex;
	justify-content	:space-around;
	align-items		:center;
	position		:absolute;
	top				:2px;
	left			:80px;
	height			:38px;
	line-height		:38px;
	width			:208px;
	background		:#3030ff;

}



.sel_b_1{
	display			:inline-block;
	height			:26px;
	line-height		:26px;
	flex-basis		:37px;
	background		:#903000;
	font-size		:13px;
	border-radius	:3px;
	color:#fafafa;
	font-weight:600;
	text-shadow:1px 1px #303030;
}


.sel_c{
	position:absolute;
	display:inline-block;
	top:40px;
	left:80px;
	height:38px;
	width:208px;
	background:#ff30ff;
}

