@font-face {
	font-family: at_icon;
	src: url(../font/font_1/fonts/icomoon.ttf) format('truetype');
}

@font-face {
	font-family: at_item;
	src: url(../font/font_2/fonts/icomoon.ttf) format('truetype');
}


.icon_img{
	font-family:at_icon;
	display:inline-block;
}




.main{
	position:relative;;
    width:100%;
    max-width:600px;
    background:#f0f0f0;
    margin:0 auto;    
	height:95vh;
}

.page_01{
	position:absolute;
}


.pop_back{
	display:none;
	position:fixed;
	top:-10vh;
	left:-10vw;
	width:120vw;
	height:120vh;
	background:rgba(60,60,60,0.3);
}
.pop_a{
	display		:none;
	position	:absolute;
	top			:20vh;
	left		:0;
	right		:0;
	margin		:auto;
	border		:3px dashed #fafafa;
	box-shadow	:0px 0px 0px 10px #c09000;
	border-radius:5px;
	width		:250px;
	height		:310px;
	background	:#c09000;
}

.pop_a_1{
	position	:absolute;
	top			:10px;
	left		:0;
	right		:0;
	margin		:auto;
	width		:150px;
	height		:150px;
	background	:#303030;
}

.pop_a_2{
	position	:absolute;
	top			:170px;
	left		:0;
	right		:0;
	margin		:auto;
	width		:150px;
	height		:30px;
	line-height	:35px;
	color		:#303030;
	background	:#fafafa;
	border-bottom:2px solid #d00000;
	text-align:left;
	padding-left:5px;
}

.pop_a_3{
	display			:flex;
	justify-content	:space-around;
	align-items		:center;
	position		:absolute;
	top				:210px;
	left			:0;
	right			:0;
	margin			:auto;


	height			:38px;
	line-height		:38px;
	width			:208px;
}








.btn {
	display			: inline-block;
	text-decoration	: none;
	border-radius	: 5px;
	text-align		: center;
	overflow		: hidden;
	font-size		: 15px;
	font-weight		: 700;
	height			: 25px;
	line-height		: 25px;
	width			:80px;
	border			: 5px solid #ffffff;
	cursor			: pointer;
	padding:0;
}


.btn:active {
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
	background-image: linear-gradient(#eeeeee 0%, #dddddd 100%);
}

.c1{
	position:absolute;
	bottom:10px;
	right:20px;
	background: linear-gradient(#ff90a0 0%, #ffa0a0 100%);
	text-shadow: 1px 1px 1px rgba(255,255,255, 0.66);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.28);
	color: #d00000;
}

.c2{
	position:absolute;
	bottom:10px;
	left:20px;
	background: linear-gradient(#ddddff 0%, #ccccff 100%);
	text-shadow: 1px 1px 1px rgba(255,255,255, 0.66);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.28);
	color: #3030ff;
}

.c3{
	background: linear-gradient(#ffd090 0%, #ffc060 100%);
	text-shadow: 1px 1px 1px rgba(255,255,255, 0.66);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.28);
	color: #909030;
	width: 12vw;
}

.c4{
	background: linear-gradient(#ffd090 0%, #ffc060 100%);
	text-shadow: 1px 1px 1px rgba(255,255,255, 0.66);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.28);
	color: #909030;
	width: 20vw;
}


.page_02{
	position:absolute;
	height:95vh;
	display:none;
}



.hako{ 
    display:inline-block;
    width:55px;
    height:55px;
    line-height:55px;
    background:#f00000;
    box-sizing:border-box;
    border:0.5vw solid #0000ff;
    text-align:center;
    font-size:20px;
}

.table_a{
	position:absolute;
	bottom:0;
    width:600px;    
    background:#e0f0ff;
}

.td_a{
    width:120px;    
    background:#a0f0ff;
}

.table_b{
    width:100%;    
    background:#e0f0ff;
}

.td_b1{
    height:30px;    
    background:#00f020;
}

.td_b2{
    background:#00f0ff;
	font-size:0;
}

.p_name{
    display:inline-block;
    width:200px;
    background:#ff5030;
}

.p_status{
    display:inline-block;
    width:45px;
    background:#ff50a0;
}

.p_pts{
	position		:relative;
    display			:inline-block;
    width			:74px;
    height			:34px;
    background		:#cccccc;
    box-sizing		:border-box;
    border			:1px solid #ffffff;
	color			:#fafafa;
	text-align		:center;
	margin			:1px;
}

.p_pts_icon{
	font-family		:at_item;
	display			:inline-block;
	height			:34px;
	line-height		:34px;
	text-align		:center;
	font-size		:22px;
}

.p_pts_on{
    background:#906000 !important;
}

.set{
	display:inline-block;
	width:90px;
	height:30px;
	line-height:30px;
	text-align:right;
	background:#ffe0f0;
	margin:5px;
}

.sel{
	position:relative;
	display:inline-block;
	width:290px;
	border:1px solid #303030;
	height:80px;
	background		:linear-gradient(45deg,#fafafa,#ffc0e0);
	margin:2px;
}

.sel_a{
	position:absolute;
	top:2px;
	left:2px;
	height:76px;
	width:76px;
	background:#303030;
}

.sel_b{
	display			:flex;
	justify-content	:space-around;
	align-items		:center;
	position		:absolute;
	top				:2px;
	left			:80px;
	height			:38px;
	line-height		:38px;
	width			:208px;
}



.sel_b_1{
	display			:inline-block;
	height			:26px;
	line-height		:26px;
	flex-basis		:37px;
	background		:linear-gradient(#c0c0c0,#b0b0b0);
	font-size		:13px;
	border-radius	:3px;
	color:#fafafa;
	font-weight:600;
	text-shadow:1px 1px #303030;
}

.sel_on{
	background		:linear-gradient(#0000ff,#0000d0);

}

.sel_c{
	position:absolute;
	display:inline-block;
	top:40px;
	left:80px;
	height:38px;
	line-height:40px;
	width:208px;
	font-weight:700;
	color:#303030;
	text-shadow:1px 1px #fafafa;
	font-size:20px;
	text-align:left;
}

.player{
	width:600px;
	height:150px;
	background:#f0f0f0;
	margin:0;
	z-index:20;
}

.player_0{
	width:auto;
	position:relative;
	border:1px solid #303030;

}

.player_a{
	position:absolute;
	top:10px;
	left:0;
	right:0;
	margin:auto;
	height:100px;
	width:100px;
	background:#303030;
	z-index:21;
}

.player_b{
	position:absolute;
	top:100px;
	left:0;
	right:0;
	width:100px;
	height:40px;
	margin:auto;
	z-index:22;
}

.player_c{
	position	:absolute;
	top			:110px;
	left		:0;
	right		:0;
	width		:100px;
	height		:30px;
	line-height	:30px;
	margin		:auto;
	background	:#008000;
	font-family	:at_item;
	z-index		:10;
	color		:#fafafa;
	font-size	:24px;
}

.player_c_0{
	border-collapse: separate;
	width:100%;
	height:100%;
	
}
.player_c_1{
	height			:23px;
	line-height		:23px;
	width			:auto;
	background		:#903000;
	font-size		:13px;
	border-radius	:3px;
	color			:#fafafa;
	font-weight		:600;
	text-shadow		:1px 1px #303030;
	margin			:1px;
}

.pl1{
	background:#ffe0d0;
}

.pl2{
	background:#e0ffd0;
}

.pl3{
	background:#ffd0e0;
}

.pl4{
	background:#e0e0ff;
}

.pl5{
	background:#cccccc;
}

.turn_start{
	position		:absolute;
	bottom			:130px;
	right			:10px;
	width			:80px;
	height			:40px;
	line-height		:40px;
	border-radius	:4px;
	background		:#fa9030;
	text-align		:center;	

}

.main_card{
	display			:none;
	position		:absolute;
	top				:190px;
	right			:200px;
	width			:240px;
	height			:360px;
	border			:10px solid #ee0000;
	border-radius	:20px;
	background		:#cccccc;

}

.rest_card{
	position		:absolute;
	right			:3px;
	width			:80px;
	height			:120px;
	border			:5px solid #fafafa;
	border-radius	:8px;
	background		:linear-gradient(#d0e0ff,#e0f0ff);
	box-shadow		:0px -2px 1px rgba(30,30,30,0.6);
}

#rest11{
	top:160px;
	z-index:1;
}

#rest10{
	top:180px;
	z-index:2;
}

#rest9{
	top:200px;
	z-index:3;
}

#rest8{
	top:220px;
	z-index:4;
}

#rest7{
	top:240px;
	z-index:5;
}

#rest6{
	top:260px;
	z-index:6;
}

#rest5{
	top:280px;
	z-index:7;
}

#rest4{
	top:300px;
	z-index:8;
}

#rest3{
	top:320px;
	z-index:9;
}

#rest2{
	top:340px;
	z-index:10;
}

#rest1{
	top:360px;
	z-index:11;
}

#rest0{
	top:380px;
	z-index:12;
}


